<!--
  Generated template for the BrowsePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="transparent">
    <ion-buttons start style="margin-left: 3%!important;">
     <!-- <div class="circles-noms">
       <div class="div1"></div>
       <div class="div2"></div>
       <div class="div3"></div></div> -->
     <!-- <p class="noms-hint">Noms</p>
     <p class="noms-qty">120</p> -->
    </ion-buttons>
    <!-- <ion-buttons (click)="openFilters()" end>

     <button ion-button icon-only>
       <ion-icon name="ios-options" color="white"></ion-icon>
     </button>
    </ion-buttons> -->
    <!-- <p class="title">All</p> -->
  </ion-navbar>
</ion-header>

<ion-content padding class="browse-all">
  <div class="segment-container">
   <!-- <p (click)="changeSegment('events')" class="{{getSegment('events')}}" style="margin-left: 0!important;">Events</p> -->
   <p (click)="changeSegment('activities')" class="{{getSegment('activities')}}">Activities</p>
   <p (click)="changeSegment('experiences')" class="{{getSegment('experiences')}}">Experiences</p>
  </div>


  <div *ngIf="this.segment == 'experiences'">
    <div class="overflowing">
      <ion-grid>
        <ion-row>
          <ion-col col-6>
           <div (click)="openFilteredEvento('Experiences',0)" class="act-element">
             <p class="act-title">All Experiences</p>
             <p class="act-number">{{this.events.length}}</p>
           </div>
          </ion-col>
          <ion-col col-6>
            <div (click)="openFilteredEvento('Experiences',1)" class="act-element">
              <p class="act-title">Event</p>
              <p class="act-number">{{this.eventsEvent.length}}</p>
            </div>
           </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
           <div (click)="openFilteredEvento('Experiences',2)" class="act-element">
             <p class="act-title">Adventure</p>
             <p class="act-number">{{this.eventsAdventure.length}}</p>
           </div>
          </ion-col>
          <ion-col col-6>
            <div (click)="openFilteredEvento('Experiences',3)" class="act-element">
              <p class="act-title">Retreat</p>
              <p class="act-number">{{this.eventsRetreat.length}}</p>
            </div>
           </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>



 <div *ngIf="this.segment == 'activities'">
   <div class="overflowing">
     <ion-grid>
       <ion-row>
         <ion-col col-6 *ngFor="let a of this.getRealA()">
          <div (click)="openFiltered(a.type)" class="act-element">
            <p class="act-title">{{a.type}}</p>
            <p class="act-number">{{a.number}}</p>
          </div>
         </ion-col>
       </ion-row>
     </ion-grid>
   </div>


 <!-- <div class="bottom">
   <ion-grid>
     <ion-row>
       <ion-col col-4 *ngFor="let a of this.categorias; let in=index">
        <div (click)="change(in)" class="{{getClass(a.selected)}}">
          <p class="type-title">{{a.type}}</p>
        </div>
       </ion-col>
     </ion-row>
   </ion-grid>
 </div> -->
 </div>

 <div *ngIf="this.segment == 'events'">
   <div class="overflowing">
     <div >
       <div (click)="openFiltered('All Events')" class="event-element">
         <p class="event-title">All Events</p>
         <p class="event-number">{{this.getEventsN()}}</p>
       </div>
     </div>
   </div>


   <!-- <div class="bottom">
     <ion-grid>
       <ion-row>
         <ion-col col-4>
          <div (click)="changeType('public')" class="{{getType('public')}}">
            <p class="etype-title">Public</p>
          </div>
         </ion-col>
         <ion-col col-4>
          <div (click)="changeType('cost')" class="{{getType('cost')}}">
            <p class="etype-title">Private</p>
          </div>
         </ion-col>
         <ion-col col-4>
          <div (click)="changeType('clan')" class="{{getType('clan')}}">
            <p class="etype-title">Clan</p>
          </div>
         </ion-col>
       </ion-row>
     </ion-grid>
   </div> -->

 </div>




</ion-content>
