<!--
  Generated template for the FiltersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="black1">
    <ion-buttons start style="margin-left: 3%!important;">
     <!-- <div class="circles-noms">
       <div class="div1"></div>
       <div class="div2"></div>
       <div class="div3"></div></div> -->
     <!-- <p class="noms-hint">Noms</p>
     <p class="noms-qty">{{this.noms_balance}}</p> -->
    </ion-buttons>
    <!-- <p class="title">Preferences</p> -->
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="segment-container">
   <p (click)="changeSegment('daytime')" class="{{getSegment('daytime')}}" style="margin-left: 0!important;">Categories</p>
   <p (click)="changeSegment('categories')" class="{{getSegment('categories')}}">Daytime</p>
   <p (click)="changeSegment('others')" class="{{getSegment('others')}}">Others</p>
  </div>

  <div *ngIf="this.segment == 'daytime'">
    <p class="title-container">Main Category</p>
    <div class="likes-container">
        <div *ngFor="let c of this.example_cats; let in=index" (click)="addCategorie(in)" class="{{getSelected(c.selected)}}">{{c.name}}</div>
    </div>

    <p class="title-container">Type of Activity</p>
    <div class="likes-container">
        <div *ngFor="let c of this.example_activities; let in=index" (click)="addActivity(in)" class="{{getSelected(c.selected)}}">{{c.title}}</div>
    </div>

    <p class="title-container">Workout form</p>
    <div class="likes-container">
        <div *ngFor="let c of this.example_forms; let in=index" (click)="addForm(in)" class="{{getSelected(c.selected)}}">{{c.title}}</div>
    </div>
  </div>

  <div *ngIf="this.segment == 'categories'">
  <p class="title-container">Days</p>
  <div class="likes-container"><div *ngFor="let c of this.example_days; let in=index" (click)="selectDay(in)" class="{{getSelected(c.selected)}}">{{c.day}}</div></div>

    <p class="title-container">Prefered Time</p>
    <div class="toggle-container">
    <p class="toggle-title">All day</p>
    <ion-toggle color="purple" [(ngModel)]="allday"></ion-toggle>
    </div>

    <p *ngIf="!allday" class="title-container">My Schedule</p>
    <div *ngIf="!allday" class="likes-container"><div *ngFor="let c of this.example_schedule; let in=index" (click)="selectTime(in)" class="{{getSelected(c.selected)}}">{{c.time}}</div></div>
  </div>

  <div *ngIf="this.segment == 'others'">
    <p class="title-container">Price</p>
    <div class="likes-container"><div *ngFor="let c of this.example_price; let in=index" (click)="this.user_preferences.cost = c.price" class="{{isPrice(c.price)}}">{{c.price}}</div></div>

    <div class="container-cool">
      <p class="title-container">Distance</p>
      <p class="distance">{{this.user_preferences.distance}} km</p>
    </div>

    <ion-range mode="md" color="purple" min="1" max="50" pin="true" [(ngModel)]="user_preferences.distance"></ion-range>

    <p class="title-container">Level</p>
    <div class="likes-container"><div *ngFor="let c of this.example_level; let in=index" (click)="user_preferences.level = c.level" class="{{isLevel(c.level)}}">{{c.level}}</div></div>


  </div>
</ion-content>
