<ion-header>
  <ion-navbar color="transparent">
    <ion-buttons (click)="testWallet()" start style="margin-left: 3%!important;">
     <!-- <div class="circles-noms">
       <div class="div1"></div>
       <div class="div2"></div>
       <div class="div3"></div></div> -->
       <div class="noms-ctr">
         <div class="noms-hint">Noms</div>
         <div class="noms-qty">{{this.noms_balance}}</div>
       </div>
    </ion-buttons>
    <ion-buttons (click)="openFilters()" end>
     <!-- <div class="filters-noms">
       <div class="div1"></div>
       <div class="div2"></div>
       <div class="div3"></div>
     </div> -->
     <button ion-button>
       <ion-icon name="ios-options" color="white"></ion-icon>
     </button>
    </ion-buttons>
    <p class="title">Clans</p>
  </ion-navbar>
</ion-header>

<ion-content padding class="clans-page">
  <div class="btns-container">
    <button (click)="openFind()" type="button" class="create-btn">Find Clan</button>
    <button (click)="openCreate()" type="button" class="create-btn">Create Clan</button>
  </div>

  <p class="title-container">My Clans</p>
  <p *ngIf="this.my_clans.length == 0" class="no-clans">You are not part of any clan yet! Join one or create one.</p>
  <ion-grid>
    <ion-row>
      <ion-col (click)="openClan(a)" col-6 *ngFor="let a of this.my_clans">
        <div class="img-slide" [style.background-image]="sanitizeThis(a.img)"></div>
        <p class="act-title">{{a.name}}</p>
        <p class="act-distance">{{getTextM(a.members)}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
