page-about {

  ion-header{
      border: none!important;
    ion-navbar{
      border: none!important;
    }
  }

  .toolbar-background-ios{
    border-style: none!important;
  }

  .clans-page{
    background: linear-gradient(#008573, #0C0C0C 70%)!important;
  }

  .btns-container{
    display: flex;
    justify-content: space-around;
  }
  .create-btn{
    width: 40vw;
    height: 6vh;
    border-radius: 12px;
    //background-color: #FF6B84;
    // background-color: #9073CB;
    background-color: white;
    //background: linear-gradient(#8141CB, #4C216D 70%)!important;
    box-shadow: 0px 0px 5px white;

    font-family: 'Custom';
    font-size: 100%;
    font-weight: 700!important;
    //color: rgba(0, 0, 0, 0.8);
    color: #008573;
    //text-transform: uppercase;
  }

  .find-btn{
    width: 40vw;
    height: 6vh;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid #FF6B84;

    font-family: 'Custom';
    font-size: 100%;
    font-weight: 700!important;
    color: white;
  }

  .title-container{
    font-family: 'Custom';
    font-weight: 700;
    font-size: 150%;
    color: white;
    padding-left: 5%;
  }

  .no-clans{
    font-family: 'Custom';
    font-weight: 400;
    font-size: 90%;
    color: white;
    opacity: .7;
    padding-left: 5%;
  }


    ion-grid{
      ion-row{
        ion-col{
          padding: 3%;
          position: relative;
          border-radius: 12px;
          .noms-coins{
            //border: 1px solid red;
            display: flex;
            justify-content: flex-end;
            margin-top: -23%!important;
            p{
              font-family: 'Custom';
              font-weight: 600!important;
              font-size: 80%;
              color: white;
              padding: 0!important;
              //border: 1px solid white;
              margin-top: -1%!important;
            }
            .circles-noms{
              float: right;
              width: 15%;
              position: relative;
              height: 2vh;
              //border: 1px solid yellow;
              .div1{
                position: absolute;
                top: 15%;
                left: 25%;
                height: 70%;
                border: 1px solid #229B86;
                width: 50%;
                border-radius: 50%;
              }
              .div2{
                position: absolute;
                top: 7.5%;
                left: 20%;
                height: 85%;
                border: 1px solid #229B86;
                width: 60%;
                border-radius: 50%;
              }
              .div3{
                position: absolute;
                left: 15%;
                height: 100%;
                border: 1px solid #229B86;
                width: 70%;
                border-radius: 50%;
              }
            }
          }
          .img-slide{
            height: 150px;
            border-radius: 5px;
            background-image: url('../../assets/img/clans_example.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            filter: opacity(.8);
          }
          .act-title{
            font-family: 'Custom';
            font-weight: 700!important;
            font-size: 120%;
            color: white;
            //border: 1px solid red;
            text-align: left;
            padding-left: 2%;
            margin-top: 5%;
          }
          .act-distance{
            font-family: 'Custom';
            font-weight: 400!important;
            font-size: 100%;
            color: white;
            //border: 1px solid red;
            text-align: left;
            padding-left: 2%;
            margin-top: -10%;
          }
        }
      }
    }

}
