page-login {
  .scroll-content {
   padding-bottom: 0 !important;
   overflow: hidden!important;
   }

  .login-page{
    background-color: #373739;
    //background-color: #0C0C0C;
    //background: linear-gradient(#0C0C0C 70%, #6C6C6C 100%)!important;
    //background-image: url('../../assets/img/bg_1.png');
    //background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    // width: 100vw;
    // height: 100vh;
    .logo-welcome{
      display: block;
      margin: 0 auto;
      width: 55vw;
      margin-top: 15vh;
    }

    .container-datos{
      font-family: 'Custom';
      display: block;
      margin: 0 auto;
      //border: 1px solid white;
      margin-top: 7vh;
      width: 90vw;
      margin-bottom: 5%;
      .title-container{
        font-weight: 700;
        font-size: 110%;
        color: white;
        padding-left: 5%;
      }
      .card-container{
        background-color: rgba(255, 255, 255, .2);
        width: 90%;
        margin-left: 5%;
        height: auto;
        border-radius: 10px;
        position: relative;
        .input-group{
          padding-left: 5%;
          padding-top: 2%;
          position: relative;
          .input-hint{
            color: white;
            position: absolute;
            right: 10%;
            bottom: 5%;
          }
          .input-title{
            font-size: 90%;
            color: rgba(255, 255, 255, .5);
          }
          .input-field{
            margin-top: -5%;
            color: white;
            background-color: transparent;
            border: none!important;
            border-bottom: 1px solid rgba(255, 255, 255, .7)!important;
            width: 95%;
          }
        }

        .pw-forgot{
          font-family: 'Custom';
          font-size: 90%;
          color: white;
          width: 60vw;
          margin-left: 23vw;
        }

        .register-btn{
          font-family: 'Custom';
          font-size: 100%;
          color: white;
          margin-left: 5%;
          padding-bottom: 5%;
          margin-top: 5vh;
        }
      }

    }

    .test-container{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .jc-container{
      display: flex;
      justify-content: space-around;
      margin-bottom: 5%;
      //border: 1px solid red;
    }



    .login-btn{
      width: 40vw;
      height: 40px;
      border-radius: 12px;
      background-color: #1BBF80;


      font-family: 'Custom';
      font-size: 100%;
      font-weight: 700;
      color: white;

      // position: fixed;
      // bottom: 3vh;
      // right: 7vw;
    }

    .sign-btn{
      width: 40vw;
      height: 40px;
      border-radius: 12px;
      background-color: transparent;
      border: 1px solid white;

      font-family: 'Custom';
      font-size: 100%;
      font-weight: 700;
      color: white;

      // position: absolute;
      // bottom: 3vh;
      // left: 7vw;
    }

    .rose{
      background-color: #FF6B84!important;
    }

  }
}
