<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="login-page">

  <img src="assets/img/logo_1.png" class="logo-welcome">

  <div class="test-container">
    <div class="container-datos">
     <p *ngIf="user_type == 'nomads'" class="title-container">Sign In</p>
       <p *ngIf="user_type == 'allies'" class="title-container">Welcome back</p>
     <div class="card-container">
       <div class="input-group">
         <p class="input-title">Email</p>
         <input type="text" class="input-field" [(ngModel)]="mail">
       </div>
       <div class="input-group">
         <p class="input-title">Password</p>
         <input (keyup.enter)="loginMail()" type="password" class="input-field" [(ngModel)]="pw">
       </div>
       <p (click)="openRecovery()" class="pw-forgot">Forgot your password? <b> Click Here </b></p>
       <p *ngIf="user_type == 'nomads'" (click)="openRegister()" class="register-btn">Don't have an account? <br> <b> Create one </b></p>
       <p *ngIf="user_type == 'allies'" (click)="openRegister()" class="register-btn">Don't have an account? <br> <b> Apply for one </b></p>
     </div>
    </div>

    <div class="jc-container">
      <button (click)="openNomads()" type="button" name="button" class="sign-btn">Home</button>
      <button (click)="loginMail()" *ngIf="user_type == 'nomads'" type="button" name="button" class="login-btn">Log In</button>
      <button (click)="loginMail()" *ngIf="user_type == 'allies'" type="button" name="button" class="login-btn rose">Log In</button>
    </div>
  </div>




</ion-content>
