<!--
  Generated template for the ActivityPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="transparent">
    <p class="title">Activity</p>
    <!-- <ion-buttons *ngIf="isOwner()" (click)="confirmEdit()" end>
      <ion-icon color="white" name="create-outline" style="margin-right: 5%;"></ion-icon>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>


<ion-content class="activity-page">

  <div class="main-card">
    <img (click)="changeFav()" *ngIf="!isFavorite()" src="assets/img/heart.png" class="heart">
    <img (click)="changeFav()" *ngIf="isFavorite()" src="assets/img/hearth_filled.png" class="heart">
    <ion-slides>
      <ion-slide *ngFor="let m of this.activity_data.media">
        <div class="cover-gradient1">
          <div class="class-title">{{this.activity_data.title_complete}} <br>
            <div class="class-creator">By: {{this.getName(this.activity_data.creator)}}</div></div>
        </div>
        <div class="cover-gradient2"></div>
        <div class="cover-img" [style.background-image]="sanitizeThis(m.url)"></div>
      </ion-slide>
    </ion-slides>
    <div class="main-info">
      <div class="left-side">
        <div class="workout-text">
          {{this.activity_data.review}} <ion-icon name="star" color="white"></ion-icon> ({{this.activity_data.reviews.length}})
        </div>
        <div class="activity-revies">

        </div>
      </div>
      <div *ngIf="!isAlready()" (click)="openBook()" class="right-side green">
        <div *ngIf="!isCreator() && activity_data.class_price != 0" class="noms-qty">
          Join <br> {{this.activity_data.class_price}} noms
        </div>
        <div *ngIf="isCreator()" class="noms-qty">
          Joined <br> {{this.getNomadsjoined()}} nomads
        </div>
        <div *ngIf="!isCreator() && activity_data.class_price == 0" class="noms-qty">
          Join <br> Free!
        </div>
        <!-- <div class="circles-noms">
          <div class="div1"></div>
          <div class="div2"></div>
          <div class="div3"></div></div> -->
      </div>
      &nbsp;&nbsp;
      <div class="right-side" (click)="goNavigate()">
        <div class="noms-qty">
            Take me <br>There!
        </div>
      </div>
      <div *ngIf="isAlready()"  class="right-side green">
        <div class="noms-qty">
          Joined!
        </div>
      </div>
    </div>
    <div class="ht-text">
      <!-- <div class="hashtags">
        <div class="hashtag">#{{this.activity_data.categories.activity_type}}</div>
        <div *ngIf="this.activity_data.categories.workout_form" class="hashtag">#{{this.activity_data.categories.workout_form[0].title}}</div>
      </div> -->
      <!-- <div class="share-btn">
        <img src="assets/img/share_icon.png">
      </div> -->
    </div>
      </div>

  <div class="section-title">Description</div>
  <div class="description-area">
    {{this.activity_data.description}}
  </div>

  <div class="section-title">Useful Notes</div>
  <div class="description-area">
    {{this.activity_data.useful_notes}}
  </div>

  <div class="section-title" style="margin-top: 5%;">Friends Going</div>
  <div *ngIf="this.amigos.length == 0" class="location-hint">There are no clan friends going to this activity. Join and invite them!</div>
  <div class="friends-container">
    <div *ngFor="let a of this.amigos" (click)="seeDetails(a)" class="friend">
      <div *ngIf="!a.img" class="img">{{a.initial}}</div>
      <div [style.background-image]="sanitizeThis(a.img)" *ngIf="a.img" class="img"></div>
      <div class="name">{{a.name}}</div>
    </div>
  </div>

  <!-- <div class="section-title">Availability</div>
  <div *ngFor="let s of this.activity_data.schedule" class="row-times" padding (click)="openBook()">
    <div class="row-day">{{s.day}}</div>
    <div class="row-hours">
     <div class="row-start">{{s.start_time}}</div>
     <div class="row-end">{{getEnd(s.start_time, s.duration)}}</div>
    </div>
  </div> -->

  <div class="section-title">Availability</div>
  <div *ngFor="let s of this.time_helper; let in = index" >
    <div *ngIf="s.times.length > 0"  class="row-times">
      <div class="row-day">{{s.title}}</div>
      <div class="row-right">
        <div *ngFor="let t of s.times"  class="row-hours" (click)="openBook(s.title, t.start_time)">
         <div class="row-start">{{t.start_time}}</div>
         <div class="row-end">{{getEnd(t.start_time, t.duration)}}</div>
        </div>
      </div>
    </div>
  </div>



  <div class="section-title" style="margin-top: 5%;">Location</div>
  <div class="location-row">
    <div (click)="goNavigate()" class="location-hint">{{this.activity_data.location}}</div>
    <!--
    <div (click)="goNavigate()" class="location-btn">Take me There!</div>
      -->
  </div>
  <div #map id="map"></div>

</ion-content>
