<ion-tabs selectedIndex="this.selected">
  <ion-tab *ngIf="type == 'nomads'" [root]="tab1Root" tabTitle="Dashboard" tabIcon="apps-outline"></ion-tab>
  <ion-tab *ngIf="type == 'nomads'" [root]="tab2Root" tabTitle="Clans" tabIcon="contacts-outline"></ion-tab>
  <ion-tab *ngIf="type == 'nomads'" [root]="tab3Root" tabTitle="Location" tabIcon="pin-outline"></ion-tab>
  <ion-tab *ngIf="type == 'allies'" [root]="tab6Root" tabTitle="Profile" tabIcon="contact-outline"></ion-tab>
  <ion-tab *ngIf="type == 'allies'" [root]="tab7Root" tabTitle="My Activities" tabIcon="star-outline"></ion-tab>
  <ion-tab *ngIf="type == 'allies' || type == 'nomads'" [root]="tab4Root" tabTitle="Calendar" tabIcon="calendar-outline"></ion-tab>
  <ion-tab *ngIf="type == 'nomads'" [root]="tab5Root" tabTitle="Profile" tabIcon="contact-outline"></ion-tab>
</ion-tabs>
