<ion-tabs selectedIndex="this.selected">
  <ion-tab *ngIf="type == 'nomads'" [root]="tab1Root" tabIcon="apps-outline"></ion-tab>
  <ion-tab *ngIf="type == 'nomads'" [root]="tab2Root" tabIcon="contacts-outline"></ion-tab>
  <ion-tab *ngIf="type == 'nomads'" [root]="tab3Root" tabIcon="pin-outline"></ion-tab>
  <ion-tab *ngIf="type == 'allies'" [root]="tab6Root" tabIcon="contact-outline"></ion-tab>
  <ion-tab *ngIf="type == 'allies'" [root]="tab7Root" tabIcon="star-outline"></ion-tab>
  <ion-tab *ngIf="type == 'allies' || type == 'nomads'" [root]="tab4Root" tabIcon="calendar-outline"></ion-tab>
  <ion-tab *ngIf="type == 'nomads'" [root]="tab5Root" tabIcon="contact-outline"></ion-tab>
</ion-tabs>
