<!--
  Generated template for the AttendantsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="transparent">
    <p class="title">Attendants</p>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngFor="let m of this.actual_members" class="nomad-element">
      <div *ngIf="!m.img" class="user-img">{{m.first_name.charAt(0)}}</div>
      <div *ngIf="m.img" class="user-img" [style.background-image]="sanitizeThis(m.img)"></div>
      <div class="nomad-texts">
       <div class="nomad-name">{{m.first_name}} {{m.last_name}}</div>
      </div>
  </div>
</ion-content>
