page-event {
  .main-card{
    //height: 50vh;
    background-color: rgba(74, 74, 74, .3);
    border-radius: 15px;
    font-family: 'Custom';
    color: white;
    position: relative;
    margin-bottom: 5%;
    .heart{
      position: absolute;
      top: 3%;
      right: 3%;
      z-index: 200;
    }
    .cover-gradient1{
      position: absolute;
      top: 0!important;
      height: 35vh;
      width: 100%;
      z-index: 100;
      border-radius: 15px 15px 0 0;
      background-image: linear-gradient(-179deg, rgba(0,0,0,0.00) 48%, rgba(0,0,0,0.66) 100%);
      //background-image: linear-gradient(-179deg, rgba(0,244,174,0.00) 7%, #00E676 100%);
      .class-title{
        position: absolute;
        bottom: 3%;
        left: 3%;
        height: 13%;
        overflow: hidden;
        font-size: 160%;
        font-weight: 700!important;
        z-index: 200;
      }
    }
    .cover-gradient2{
      position: absolute;
      top: 0!important;
      height: 35vh;
      width: 100%;
      z-index: 99;
      border-radius: 15px 15px 0 0;
      background-image: linear-gradient(0deg, rgba(0,0,0,0.00) 48%, rgba(0,0,0,0.66) 100%);
    }
    .cover-img{
     z-index: 90;
     height: 35vh;
     background-image: url('../../assets/img/example_act.png');
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     border-radius: 15px 15px 0 0;
    }
    .main-info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 3%;
      padding-left: 5%;
      padding-right: 5%;
      .left-side{
        display: flex;
        flex-direction: column;
        width: 50%;
        .workout-text{
          font-weight: 600;
          font-size: 100%;
        }
        .activity-revies{
          font-weight: 300;
          padding-left: 5%;
        }
      }
      .right-side{
        display: flex;
        justify-content: center;
        align-items: center;
        //border-radius: 20px 0 0 20px;
        border-radius: 20px;
        //background-color: #9013FE;
        padding: 1%;
        width: 40%;

        background-color: #8141CB;
        box-shadow: 0px 0px 15px #0C0C0C;
        .noms-qty{
          text-align: center;
          font-weight: 700;
        }
        .circles-noms{
          width: 7vw;
          position: relative;
          height: 2vh;
          .div1{
            position: absolute;
            top: 15%;
            left: 25%;
            height: 70%;
            border: 1px solid white;
            width: 50%;
            border-radius: 50%;
          }
          .div2{
            position: absolute;
            top: 7.5%;
            left: 17.5%;
            height: 85%;
            border: 1px solid white;
            width: 65%;
            border-radius: 50%;
          }
          .div3{
            position: absolute;
            left: 12.5%;
            height: 100%;
            border: 1px solid white;
            width: 75%;
            border-radius: 50%;
          }
        }
      }
      .green{
        background-color: #229B86;
      }
    }
    .ht-text{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      .hashtags{
        display: flex;
        justify-content: space-around;
        width: 100%;
        .hashtag{
          padding: 2%;
          opacity: .5;
          display: inline!important;
        }
      }
    }
  }
  .section-title{
    font-family: 'Custom';
    color: rgba(255, 255, 255, .8);
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    font-weight: 700;
    margin-bottom: 2%;
  }
  .description-area{
    font-family: 'Custom';
    color: rgba(255, 255, 255, .6);
    font-weight: 90%;
    font-weight: 400;
    max-height: 25%;
    overflow: hidden;
    margin-bottom: 5%;
    //border: 1px solid red;
  }

  .friends-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 5%;

    .friend{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 3%;
      .img{
        width: 10vh;
        height: 10vh;
        border-radius: 50%;
        //background-image: url('../../assets/img/imanol.png');
        background-color: #00B0FF;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-left: 5%;
        margin-top: -7%;
        color: white;
        border: 1px solid rgba(255, 255, 255, .3);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 200%;
      }
      .name{
        font-family: 'Custom';
        color: white;
        margin-top: 3%;
      }
    }
  }

  .row-times{
    display: flex;
    justify-content: space-between;
    font-family: 'Custom';
    color: white;
    .row-hours{
      display: flex;
      justify-content: space-around;
      width: 30%;
      .row-start{
        padding-right: 8%;
        display: inline;
      }
      .row-end{
        opacity: .6;
      }
    }
  }

  .location-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .location-btn{
      font-family: 'Custom';
      color: rgba(255, 255, 255, 1);
      font-size: 90%;
      font-weight: 700;
      background-color: #8141CB;
      box-shadow: 0px 0px 15px #0C0C0C;
      border-radius: 12px;
      padding: 5px;
    }
  }

  .location-hint{
    font-family: 'Custom';
    color: rgba(255, 255, 255, .6);
    font-weight: 90%;
    font-weight: 400;
    width: 60%;
  }

  .scroll {
    height: 100%
  }

  #map {
    margin-top: 3%;
    width: 100%;
    height: 30%;
  }
}
