<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="black1">
    <p class="title">Chat</p>
  </ion-navbar>
</ion-header>


<ion-content padding class="chat-page">

  <div class="chat-area">
    <div *ngFor="let m of Mensajes">
      <div class="msg-container" *ngIf="m.isMe">
        <div class="msguser w3-animate-right">
         <p>{{m.message}}</p>
        </div>
      </div>
      <div class="msg-container" *ngIf="!m.isMe">
        <div class="sender-name">{{m.senderName}}: </div>
        <div class="msgwhole w3-animate-opacity">
         <div class="msgsophie">
         <p [innerHtml]="m.message"></p>
         </div>
         </div>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer>
<ion-navbar hideBackButton color="black1">

<div class="contenedor-input">
  <textarea [(ngModel)]="msgu" (keyup.enter)="addMsg()" name="name" rows="2" cols="80" placeholder="Type something..." class="input-msg"></textarea>
  <div (click)="addMsg()" class="send-text">Send</div>
</div>

</ion-navbar>
</ion-footer>
