<!--
  Generated template for the NeweventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton color="black1">
    <ion-buttons (click)="goOut()" start>
     <button ion-button icon-only color="white">
       <ion-icon name="ios-arrow-back"></ion-icon>
        Exit
     </button>
   </ion-buttons>
    <p class="title" style="margin-left: -5%;">New Experience</p>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div *ngIf="this.current_index == 0" class="container-datos w3-animate-right">
    <div class="title-page">Main Category</div>

    <div class="types-row">
      <div (click)="changeTypeE('retreat')" class="{{getClassType('retreat')}}">Retreat</div>
      <!-- <div (click)="changeTypeE('resort')" class="{{getClassType('resort')}}">Resort</div> -->
      <div (click)="changeTypeE('event')" class="{{getClassType('event')}}">Event</div>
      <div (click)="changeTypeE('adventure')" class="{{getClassType('adventure')}}">Adventure</div>
    </div>

    <button [disabled]="!canAdvance()" (click)="this.current_index = 1" type="button" class="next-btn">Next</button>
  </div>


  <div *ngIf="this.current_index == 1" class="container-datos w3-animate-right">

     <div class="card-container">
       <div class="input-group">
         <p class="input-title">Name</p>
         <input type="text" class="input-field" [(ngModel)]="event_data.title">
       </div>

       <div class="input-group">
         <p class="input-title">Meeting spot?</p>
         <input (click)="this.event_data.location = ''" (blur)="this.event_data.location = '';" type="text" (ngModelChange)="updateSearchResults()" class="input-field" [(ngModel)]="event_data.location">
         <ion-list [hidden]="autocompleteItems.length == 0">
          <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
            {{ item.description }}
          </ion-item>
          </ion-list>
       </div>

       <div class="input-group">
         <p class="input-title">Difficulty</p>
         <input type="text" class="input-field" [(ngModel)]="event_data.difficulty">
       </div>

       <!-- <div class="input-group">
         <p class="input-title">Picture</p>
         <button (click)="presentOptions()" type="button" class="add-btn" style="background-color: #7D29FB!important">Select Picture</button>
       </div> -->

       <div class="input-group">
         <p class="input-title">Description</p>
         <textarea rows="4" type="text" class="input-field" [(ngModel)]="event_data.about_event"></textarea>
       </div>

       <div class="input-group">
         <p class="input-title">Useful Notes / What is Provided / Recommendations</p>
         <textarea rows="4" type="text" class="input-field" [(ngModel)]="event_data.provided" placeholder="(Yoga mats, Transport, Food, Water, etc..)"></textarea>
       </div>

       <div class="input-group">
         <p class="input-title">About you</p>
         <textarea rows="4" type="text" class="input-field" [(ngModel)]="event_data.about_organizer"></textarea>
       </div>

       <div class="input-group">
        <p class="input-title">Cancelation Policy</p>
        <input type="tel" class="input-field" [(ngModel)]="event_data.cancelation_policy">
      </div>

       <div class="input-group">
        <p class="input-title">Spaces Available</p>
        <input type="tel" class="input-field" [(ngModel)]="event_data.spaces_available" (blur)="verifyMini()">
      </div>

       <div class="jc-container">

        <!--
         <div class="input-group">
           <p class="input-title">Spaces Available</p>
           <input type="tel" class="input-field" [(ngModel)]="event_data.spaces_available" (blur)="verifyMini()">
         </div>
-->
         <div *ngIf="type != 'nomads'" class="input-group">
           <p class="input-title">Cost(MXN)</p>
           <input (blur)="event_data.noms = event_data.cost/20" type="tel" class="input-field" [(ngModel)]="event_data.cost">
         </div>

         <div *ngIf="type != 'nomads'" class="input-group">
          <p class="input-title">Cost(Noms)</p>
          <input disabled type="tel" class="input-field" [(ngModel)]="event_data.noms">
        </div>

       </div>

       <!-- <div *ngIf="!isClan" class="input-group">
         <p class="input-title">Type of Event</p>
         <div class="types-container">
           <div (click)="changeType('public')" class="{{getType('public')}}">Public</div>
           <div (click)="changeType('private')" class="{{getType('private')}}">Private</div>
         </div>
       </div> -->

     <button [disabled]="!canAdvance()" (click)="this.current_index = 2" type="button" class="next-btn">Next</button>
     </div>

  </div>

  <div *ngIf="this.current_index == 2" class="container-datos w3-animate-right">
    <div class="title-page">Select Date</div>
    <div class="card-container">
      <div class="input-group">
        <p class="input-title">Day</p>
         <ion-item><ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MM DD YYYY" placeholder="Day/Month" [(ngModel)]="event_data.day"></ion-datetime></ion-item>
      </div>


      <div class="jc-container">
        <div class="input-group">
          <p class="input-title">Start Time</p>
          <ion-item><ion-datetime displayFormat="h:mm A" pickerFormat="H mm" placeholder="06:00" [(ngModel)]="event_data.time"></ion-datetime></ion-item>
        </div>
        <div class="input-group">
          <p class="input-title">Ending Time</p>
          <ion-item><ion-datetime displayFormat="h:mm A" pickerFormat="H mm" placeholder="06:00" [(ngModel)]="event_data.end_time"></ion-datetime></ion-item>
        </div>
      </div>
    </div>

    <div style="display: none" class="title-page">Does this experience repeat on a weekly basis?</div>
    <div style="display: none" class="week-days">
      <div *ngFor="let d of this.days; let in = index">
        <div class="{{getClass(d.selected)}}" (click)="changeSelected(in)">{{d.ab}}</div>
      </div>
    </div>
         <button [disabled]="!canAdvance()" (click)="this.current_index = 3" type="button" class="next-btn">Next</button>
  </div>

  <div *ngIf="this.current_index == 3" class="container-datos w3-animate-right">
  <p class="title-container">Upload Media</p>
  <!-- <div class="media-img"></div> -->
  <div *ngFor="let m of this.event_data.media" class="media-img" [style.background-image]="sanitizeThis(m.url)"></div>
  <button (click)="presentOptions()" type="button" class="add-btn" padding>+</button>
    

  <button 
  
  (click)="createEvent()" 
  [disabled]="!needsPic()"  
  type="button" class="next-btn">Next</button>
  <button (click)="this.current_index = 1" type="button" class="next-btn outline">Back</button>
  </div>


</ion-content>
