.ios, .md{
page-contact {
  .scroll-content{
    overflow: hidden!important;
  }

  .input-container{
    //border: 1px solid red;
    width: 100%;
    background-color: #1A1A1A!important;
    padding: 2%;
    border-radius: 0 0 12px 12px!important;
    .input-search{
      background-color: #323846;
      font-family: 'Custom';
      font-size: 100%;
      padding: 3%;
      width: 90%;
      margin-left: 5%;
      color: white;
      border-radius: 12px!important;
      border: none!important;
    }
    z-index: 100!important;
  }

  .scroll {
    height: 100%
  }

  #map {
    width: 100%;
    height: 100%;
  }

  .slides-cool{
    position: absolute!important;
    bottom: 0%!important;
    width: 92.5%;
    margin-left: 3.75%;
    background-color: rgba(12, 12, 12, 1)!important;
    box-shadow: 0px 0px 20px #8141CB!important;
    border-radius: 8px 8px 0 0!important;
    font-family: 'Custom';
    z-index: 100!important;
    .top-container{
     padding: 2%;
     padding-left: 5%;
     padding-right: 5%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     .left-top{
       display: flex;
       flex-direction: column;
       .text{
         font-weight: 700;
         color: white;
         font-size: 100%;
       }
       .hint{
         font-weight: 400;
         opacity: .8;
         font-size: 90%;
       }
     }
     .number{
       font-weight: 700;
       color: white;
       font-size: 300%;
     }
    }
    ion-slides{
      height: 20vh;
      padding-bottom: 3%;
      margin-bottom: 3%;
      ion-slide{
        padding: 3%;
        position: relative;
        margin-bottom: 2%;
        //border: 1px solid red;
        .noms-coins{
          //border: 1px solid red;
          display: flex;
          justify-content: flex-end;
          margin-top: -32%!important;
          p{
            font-family: 'Custom';
            font-weight: 600!important;
            font-size: 70%;
            color: white;
            padding: 0!important;
            padding-right: 4%;
            //border: 1px solid white;
            margin-top: -4%!important;
          }
          .circles-noms{
            float: right;
            width: 20%;
            position: relative;
            height: 2vh;
            //border: 1px solid yellow;
            .div1{
              position: absolute;
              top: 15%;
              left: 25%;
              height: 70%;
              border: 1px solid #229B86;
              width: 50%;
              border-radius: 50%;
            }
            .div2{
              position: absolute;
              top: 7.5%;
              left: 17.5%;
              height: 85%;
              border: 1px solid #229B86;
              width: 65%;
              border-radius: 50%;
            }
            .div3{
              position: absolute;
              left: 12.5%;
              height: 100%;
              border: 1px solid #229B86;
              width: 75%;
              border-radius: 50%;
            }
          }
        }
        .img-slide{
          height: 80px;
          width: 100px;
          border-radius: 10px;
          background-image: url('../../assets/img/example.png');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          filter: opacity(.8);
        }
        .act-title{
          font-family: 'Custom';
          font-weight: 400!important;
          font-size: 60%;
          color: white;
          //border: 1px solid red;
          text-align: left;
          padding-left: 4%;
          margin-top: 5%;
        }
        .act-distance{
          font-family: 'Custom';
          font-weight: 600!important;
          font-size: 60%;
          color: white;
          //border: 1px solid red;
          text-align: left;
          padding-left: 2%;
          margin-top: -10%;
        }
      }
    }
  }

  .big{
    bottom: 5%!important;
  }

}

.marker-window{
  background-color: rgba(255, 255, 255, .5);
}
}
