<ion-header>
  <ion-navbar color="transparent">
    <ion-buttons (click)="testWallet()" start style="margin-left: 3%!important;">
     <!-- <div class="circles-noms">
       <div class="div1"></div>
       <div class="div2"></div>
       <div class="div3"></div></div> -->
       <div class="noms-ctr">
         <div class="noms-hint">NOMS</div>
         <div class="noms-qty">{{this.noms_balance}}</div>
       </div>
    </ion-buttons>
    <!-- <ion-buttons (click)="openFilters()" end>
      <button ion-button>
        <ion-icon name="ios-options" color="white"></ion-icon>
      </button>
    </ion-buttons> -->
    <p class="title">Home</p>
  </ion-navbar>
  <!-- <div class="explore-all2">
    <div (click)="openBrowse('activities')" class="explore">Browse All</div>
  </div> -->
  <!-- <ion-fab (click)="openFilters()" right top>
   <button ion-fab color="purple"><ion-icon name="ios-switch"></ion-icon></button>
 </ion-fab> -->
</ion-header>

<ion-content padding class="home-page">

  <!-- <div class="explore-all">
    <div (click)="openBrowse('activities')" class="explore">Browse All</div>
  </div> -->

  <!-- <div class="search-container">
    <div (click)="openBrowse('events')" class="option-container">
        <div class="activities-circle events">
          <div class="filters-noms">
            <div class="div1"></div>
            <div class="div2"></div>
            <div class="div3"></div>
            <div class="div4"></div>
          </div>
        </div>
        <h5 class="option-hint">Events</h5>
    </div>
    <div (click)="openBrowse('activities')" class="option-container">
        <div class="activities-circle">
          <div class="filters-noms">
            <div class="div1"></div>
            <div class="div2"></div>
            <div class="div3"></div>
            <div class="div4"></div>
          </div>
        </div>
        <h5 class="option-hint">Activities</h5>
    </div>
    <div (click)="openBrowse('events')" class="option-container">
        <div class="activities-circle experiences">
          <div class="filters-noms">
            <div class="div1"></div>
            <div class="div2"></div>
            <div class="div3"></div>
            <div class="div4"></div>
          </div>
        </div>
        <h5 class="option-hint">Experiences</h5>
    </div>
   <input type="text" placeholder="Search in all activities" class="input-search">
   <button (click)="openBrowse()" type="button" name="button" class="green-btn">Browse all</button>
  </div> -->

  <div class="category-container">
   <div (click)="openAll('Nearby and Upcoming')" class="category-title blue">Today's Activities<small>View all</small></div>
   <p *ngIf="this.getUpcoming().length == 0" class="category-suggestions">You'll find the upcoming classes for today here</p>
   <ion-slides slidesPerView="1.6">
    <ion-slide (click)="openActivity(a)" *ngFor="let a of this.getUpcoming()">
      <div class="img-slide" [style.background-image]="sanitizeThis(a.img)"></div>
      <p class="act-first">{{a.categories.activity_type}} - {{a.distance}} - {{a.next_time}}</p>
      <p class="act-title">{{a.title}}</p>
        <p class="act-creator">By: {{this.getName(a.creator)}}</p>
      <p class="act-distance">{{a.class_price}} noms</p>
      <p class="act-rating">{{a.review}} <ion-icon name="star" color="white"></ion-icon> / ({{getReviewsLength(a.reviews)}})</p>
    </ion-slide>
  </ion-slides>
  </div>

  <div class="category-container">
   <div (click)="viewSchedule()" class="category-title best">Clan Schedule<small>View all</small></div>
   <ion-slides slidesPerView="1.6">
    <ion-slide (click)="openActivity(a)" *ngFor="let a of this.getClanS()">
      <div class="img-slide" [style.background-image]="sanitizeThis(a.img)"></div>
      <p class="act-first">{{a.categories.activity_type}} - {{a.distance}}</p>
      <p class="act-title">{{a.title}}</p>
      <p class="act-creator">By: {{this.getName(a.creator)}}</p>
      <p class="act-distance">{{a.class_price}} noms</p>
      <p class="act-rating">{{a.review}} <ion-icon name="star" color="white"></ion-icon> / ({{getReviewsLength(a.reviews)}})</p>
    </ion-slide>
  </ion-slides>
  </div>

  <div class="category-container">
   <div class="category-title sug">Studios</div>

   <ion-slides slidesPerView="1.6">
    <ion-slide (click)="openStudio(a)" *ngFor="let a of this.studios">
      <div class="img-slide" [style.background-image]="sanitizeThis(a.logo)"></div>
      <p class="act-first">Studio</p>
      <p class="act-title">{{a.title}}</p>
      <p class="act-creator">{{a.amenities}}</p>
      <p class="act-distance">{{a.membership_cost}} noms</p>
      <p class="act-rating"> <ion-icon name="star" color="white"></ion-icon> </p>
    </ion-slide>
  </ion-slides>
  </div>

  <!-- <div class="category-container">
   <div (click)="openAll('Suggestions for you')" class="category-title sug">Suggestions for you<small>View all</small></div>
   <p *ngIf="this.filtered_a.length == 0" class="category-suggestions">Add your preferences so we can suggest activities for you</p>
   <ion-slides slidesPerView="1.6">
    <ion-slide (click)="openActivity(a)" *ngFor="let a of this.filtered_a">
      <div class="img-slide" [style.background-image]="sanitizeThis(a.img)"></div>
      <p class="act-first">{{a.categories.activity_type}} - {{a.distance}}</p>
      <p class="act-title">{{a.title}}</p>
      <p class="act-creator">By: {{this.getName(a.creator)}}</p>
      <p class="act-distance">{{a.class_price}} noms</p>
      <p class="act-rating">{{a.review}} <ion-icon name="star" color="white"></ion-icon> / ({{getReviewsLength(a.reviews)}})</p>
    </ion-slide>
  </ion-slides>
  </div> -->

  <div class="category-container">
   <div (click)="openAll('Your Favorites')" class="category-title fav">Your Favorites<small>View all</small></div>
   <!-- <p class="category-suggestions">These are your favorite activities</p> -->
   <!-- <p *ngIf="this.favoritos.length == 0" class="category-suggestions">You don't have favorites yet!</p> -->
   <p *ngIf="this.favoritos.length == 0" class="category-suggestions">You don't have any favorite activities selected. Click on the heart to add them!</p>
   <ion-slides slidesPerView="1.6">
    <ion-slide (click)="seeDetails(f)"  *ngFor="let f of this.favoritos">
      <div class="img-slide" [style.background-image]="sanitizeThis(f.img)"></div>
      <p *ngIf="!f.isEvent" class="act-first">{{f.categories.activity_type}} - {{f.distance}}</p>
      <p *ngIf="f.isEvent" class="act-first">{{f.type}}</p>
      <p class="act-title">{{f.title}}</p>
      <p *ngIf="!f.isEvent" class="act-distance">{{f.class_price}} noms</p>
      <p *ngIf="f.isEvent" class="act-distance">{{f.cost}} noms</p>
      <p class="act-rating">{{f.review}} <ion-icon name="star" color="white"></ion-icon> / ({{f.reviews.length}})</p>
    </ion-slide>
  </ion-slides>
  </div>

  <div class="category-container">
   <div (click)="openAll('Events')" class="category-title events">Events <small (click)="createEvent()">Create one</small></div>
   <p class="category-suggestions">Join events created by the community</p>
   <!-- <p *ngIf="this.events.length == 0" class="category-suggestions">There are not any events available now!</p> -->
   <ion-slides slidesPerView="1.6">
     <ion-slide (click)="openEvent(e)" *ngFor="let e of this.getCloserTime()">
       <div class="img-slide" [style.background-image]="sanitizeThis(e.img)"></div>
       <p class="act-first">{{e.type}}  - {{e.distance}}</p>
       <p class="act-title">{{e.title}}</p>
       <p class="act-distance">{{e.cost}} noms</p>
       <p class="act-rating">{{e.review}} <ion-icon name="star" color="white"></ion-icon> / ({{e.reviews.length}})</p>
     </ion-slide>
  </ion-slides>
  </div>

  <div class="category-container">
   <div (click)="openAll('Experiences')" class="category-title rose">Experiences<small>View all</small></div>
      <p *ngIf="this.getExperiences().length == 0" class="category-suggestions">There are no experiences created currently!</p>
   <ion-slides slidesPerView="1.6">
    <ion-slide (click)="openActivity(a)" *ngFor="let a of this.getExperiences()">
      <div class="img-slide" [style.background-image]="sanitizeThis(a.img)"></div>
      <p class="act-first">{{a.categories.activity_type}}  - {{a.distance}}</p>
      <p class="act-title">{{a.title}}</p>
      <p class="act-creator">By: {{this.getName(a.creator)}}</p>
      <p class="act-distance">{{a.class_price}} noms</p>
      <p class="act-rating">{{a.review}} <ion-icon name="star" color="white"></ion-icon> / ({{getReviewsLength(a.reviews)}})</p>
    </ion-slide>
  </ion-slides>
  </div>

  <!-- <div class="category-container">
   <div (click)="openAll('Special Offers')" class="category-title green">Special Offers</div>
   <p *ngIf="this.getSpecial().length == 0" class="category-suggestions">There are no special offers currently!</p>
   <ion-slides slidesPerView="1.6">
    <ion-slide (click)="openActivity(a)" *ngFor="let a of this.getSpecial()">
      <div class="img-slide" [style.background-image]="sanitizeThis(a.img)"></div>
      <p class="act-first">{{a.categories.activity_type}}  - {{a.distance}}</p>
      <p class="act-title">{{a.title}}</p>
      <p class="act-creator">By: {{this.getName(a.creator)}}</p>
      <p class="act-distance">{{a.class_price}} noms</p>
      <p class="act-rating">{{a.review}} <ion-icon name="star" color="white"></ion-icon> / ({{getReviewsLength(a.reviews)}})</p>
    </ion-slide>
  </ion-slides>
  </div> -->


  <!-- <div class="category-container">
   <div class="category-title green">Nearby and Upcoming</div>
   <p class="category-suggestions">We have this suggestions for you</p>
   <ion-slides slidesPerView="1.6">
     <ion-slide (click)="openActivity(a)"  *ngFor="let a of this.activities">
       <div class="img-slide" [style.background-image]="sanitizeThis(a.img)"></div>
       <p class="act-first">{{a.categories.activity_type}}</p>
       <p class="act-title">{{a.title}}</p>
       <p class="act-distance">{{a.class_price}} noms</p>
     </ion-slide>
  </ion-slides>
  </div> -->

  <!-- <ion-fab (click)="openFilters()" right top>
   <button ion-fab color="purple"><ion-icon name="ios-switch"></ion-icon></button>
 </ion-fab> -->


</ion-content>

<ion-footer>
 <ion-toolbar color="transparent">
   <div class="justify-row no-mg">
     <div class="explore-all3">
       <div (click)="openDay()" class="explore">Day and Time</div>
     </div>
     <div class="explore-all3 purple">
       <div (click)="openBrowse('activities')" class="explore">Explore Categories</div>
     </div>
   </div>
  </ion-toolbar>
</ion-footer>
