page-home {
 .search-container{
   background-color: rgba( 255, 255, 255, .3);
   border-radius: 10px;
   margin-bottom: 4vh;
   .input-search{
     width: 90%;
     margin-left: 5%;
     margin-top: 5%;
     height: 40px;
     padding: 5%;
     background-color: rgba(255, 255, 255, .24);
     border: 1px solid #B7B7B7;
     color: white;
     font-family: 'Raleway', sans-serif;
     font-weight: 600!important;
     font-size: 90%;
     border-radius: 10px;
   }
   .green-btn{
     width: 40%;
     margin-left: 30%;
     height: 40px;
     border-radius: 20px;
     background-color:
      #229B86;
     margin-top: 3%;

     font-family: 'Raleway', sans-serif;
     font-size: 100%;
     color: white;
     margin-bottom: 3%;
   }
 }

 .category-container{
   //border: 1px solid red;
   margin-bottom: 5%;
  .category-title{
    border-radius: 5px;
    background-color: gray;
    font-family: 'Raleway', sans-serif;
    font-weight: 700!important;
    font-size: 110%;
    color: white;
    height: 30px;
    padding: 1%;
    padding-left: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    small{
      padding-right: 5%;
    }
  }

  .blue{
    background-color: #5C77F6;
  }
  .rose{
    background-color: #FF6B84;
  }
  .green{
    background-color: #229B86;
  }
  .purple{
    background-color: #7D29FB;
  }

  .category-suggestions{
    font-family: 'Raleway', sans-serif;
    font-weight: 400!important;
    font-size: 80%;
    margin-top: 1%;
    color: white;
  }
  ion-slides{
    //border: 1px solid yellow;
    ion-slide{
      padding: 3%;
      position: relative;
      .noms-coins{
        //border: 1px solid red;
        display: flex;
        justify-content: flex-end;
        margin-top: -32%!important;
        p{
          font-family: 'Raleway', sans-serif;
          font-weight: 600!important;
          font-size: 80%;
          color: white;
          padding: 0!important;
          //border: 1px solid white;
          margin-top: -4%!important;
        }
        .circles-noms{
          float: right;
          width: 20%;
          position: relative;
          height: 2vh;
          //border: 1px solid yellow;
          .div1{
            position: absolute;
            top: 15%;
            left: 25%;
            height: 70%;
            border: 1px solid #229B86;
            width: 50%;
            border-radius: 50%;
          }
          .div2{
            position: absolute;
            top: 7.5%;
            left: 17.5%;
            height: 85%;
            border: 1px solid #229B86;
            width: 65%;
            border-radius: 50%;
          }
          .div3{
            position: absolute;
            left: 12.5%;
            height: 100%;
            border: 1px solid #229B86;
            width: 75%;
            border-radius: 50%;
          }
        }
      }
      .img-slide{
        height: 80px;
        border-radius: 10px;
        background-image: url('../../assets/img/example.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        filter: opacity(.8);
      }
      .act-title{
        font-family: 'Raleway', sans-serif;
        font-weight: 400!important;
        font-size: 60%;
        color: white;
        //border: 1px solid red;
        text-align: left;
        padding-left: 2%;
        margin-top: 5%;
      }
      .act-distance{
        font-family: 'Raleway', sans-serif;
        font-weight: 600!important;
        font-size: 60%;
        color: white;
        //border: 1px solid red;
        text-align: left;
        padding-left: 2%;
        margin-top: -12%;
      }
    }
  }
 }

}
