page-home {

  .home-page{
    background: linear-gradient(#6C6C6C, #0C0C0C 70%)!important;
  }

  .toolbar-background-ios{
    border-style: none!important;
  }

  ion-navbar{
    //border: 3px solid red!important;
  }

  ion-header{
    //border: 3px solid red!important;
    position: relative;
  }

  .explore-all3{
    border-radius: 30px;
    width: 45%;
    //margin-top: -2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #1BBF80;
    padding: 3%;
    font-family: 'Custom';
    font-weight: 700!important;
    color: white;
    .explore{
     font-weight: 700;
     font-size: 120%;
    }
  }

  .purple{
    background-color: #7D29FB;
  }

  .explore-all2{
    border-radius: 30px;
    width: 60%;
    margin-left: 20%;
    //margin-top: -2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #1BBF80;
    padding: 3%;
    font-family: 'Custom';
    font-weight: 700!important;
    color: white;
    position: absolute;
    top: 82%;
    .explore{
     font-weight: 700;
     font-size: 140%;
    }
  }

 .explore-all{
   border-radius: 30px;
   width: 60%;
   margin-left: 20%;
   margin-top: -2vh;
   //margin-bottom: 4vh;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   //border: 1px solid rgba(255, 255, 255, .7);
   //background-color: rgb(80, 80, 80);
   // background: linear-gradient(#8141CB, #4C216D 70%)!important;
   background-color: #1BBF80;
   padding: 3%;
   //font-family: 'Custom';
   font-family: 'Custom';
   font-weight: 700!important;
   color: white;
   // background-image: url('../../assets/img/go.png');
   // background-position: 95%;
   // background-repeat: no-repeat;
   //box-shadow: 0px 0px 1px #8141CB;



   .explore{
    font-weight: 700;
    font-size: 140%;
   }

   .explore-options{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     text-align: center;
     padding: 3% 0 1% 0;
     .option{
      width: 30%;
      margin: 2%;
      text-align: center;
      border: 1px solid white;
      border-radius: 12px;
      font-size: 90%;
     }
   }
 }
 .search-container{
   //background-color: rgba( 255, 255, 255, .3);
   border-radius: 10px;
   margin-bottom: 4vh;
   display: flex;
   justify-content: space-around;
   align-items: center;
   //border: 1px solid rgba(255, 255, 255, .7);
   background-color: rgb(80, 80, 80);
   padding: 3%;

   .option-container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     .option-hint{
        margin: 2%;
        font-family: 'Custom';
        color: white;
        font-size: 80%;
        margin-top: 3%!important;
        font-weight: 700;
     }
   }

   .activities-circle{
     height: 60px;
     width: 60px;
     border-radius: 50%;
     background: linear-gradient(#973EF0, #AB72FF);
     display: flex;
     justify-content: center;
     align-items: center;
     .filters-noms{
       width: 50%;
       position: relative;
       height: 20px;
       .div1{
         position: absolute;
         top: 0%;
         left: 10%;
         height: 7%;
         border: 1px solid white;
         width: 80%;
         border-radius: 5px;
       }
       .div2{
         position: absolute;
         top: 30%;
         left: 20%;
         height: 7%;
         border: 1px solid white;
         width: 60%;
         border-radius: 5px;
       }
       .div3{
         position: absolute;
         top: 60%;
         left: 30%;
         height: 7%;
         border: 1px solid white;
         width: 40%;
         border-radius: 5px;
       }
       .div4{
         position: absolute;
         top: 90%;
         left: 40%;
         height: 7%;
         border: 1px solid white;
         width: 20%;
         border-radius: 5px;
       }
     }
   }

   .events{
     height: 60px;
     width: 60px;
     background: linear-gradient(#6EC6CA, #26B594);
   }

   // .experiences{
   //   height: 60px;
   //   width: 60px;
   //   background: linear-gradient(#007C5B, #26B594);
   // }

   .input-search{
     width: 90%;
     margin-left: 5%;
     margin-top: 5%;
     height: 40px;
     padding: 5%;
     background-color: rgba(255, 255, 255, .24);
     border: 1px solid #B7B7B7;
     color: white;
     font-family: 'Custom';
     font-weight: 600!important;
     font-size: 90%;
     border-radius: 10px;
   }
   .green-btn{
     width: 40%;
     margin-left: 30%;
     height: 40px;
     border-radius: 20px;
     background-color:
      #229B86;
     margin-top: 3%;

     font-family: 'Custom';
     font-size: 100%;
     color: white;
     margin-bottom: 3%;
   }
 }

 .category-container{
   //border: 1px solid red;
   margin-bottom: 3%;
  .category-title{
    border-radius: 5px;
    //background-color: gray;
    font-family: 'Custom';
    font-weight: 700!important;
    font-size: 125%;
    color: white;
    height: 40px;
    padding: 3%;
    padding-left: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
    small{
      padding-right: 5%;
      color: white;
    }
  }

  // .best{
  //   background-image: linear-gradient(to right, #442068, #0A5353)!important;
  // }

  .sug{
    background-image: linear-gradient(to right, #5B00C4, #008379)!important;
  }

  .fav{
    background-image: linear-gradient(to right, #1B5074, #24DBDB)!important;
  }

  .best{
    background-image: linear-gradient(to right, #4400C4, #1AA3AF)!important;
    //background-image: linear-gradient(to right, #65655C, #d2d2d2)!important;
  }

  .events{
    background-image: linear-gradient(to right, #2a433c, #2edbac)!important;
  }

  .experiences{
    //background-image: linear-gradient(to right, #146474 40%, #C10777)!important;
    background-image: linear-gradient(to right, #146474 50%, #8141CB)!important;
  }

  .blue{
    //background-color: #5C77F6;
    background-image: linear-gradient(to right, #973EF0, #007C5B)!important;
  }
  .rose{
    //background-color: #FF6B84;
    background-image: linear-gradient(to right, #5E99B9, #274D61)!important;
  }
  .cool{
    background-image: linear-gradient(to right, #05974A, #F2E51E)!important;
  }
  .green{
    //background-color: #229B86;
    background-image: linear-gradient(to right, #A53535, #8A15AD)!important;
  }
  .purple{
    //background-color: #7D29FB;
    background-image: linear-gradient(to left, #CDF4FB, #007C6E 60%)!important;
  }

  .category-suggestions{
    font-family: 'Custom';
    font-weight: 400!important;
    font-size: 90%;
    margin-top: 1%;
    color: white;
  }
  ion-slides{
    //border: 1px solid yellow;
    ion-slide{
      padding: 1%;
      position: relative;
      .noms-coins{
        //border: 1px solid red;
        display: flex;
        justify-content: flex-end;
        margin-top: -32%!important;
        p{
          font-family: 'Custom';
          font-weight: 600!important;
          font-size: 80%;
          color: white;
          padding: 0!important;
          //border: 1px solid white;
          margin-top: -4%!important;
        }
        .circles-noms{
          float: right;
          width: 20%;
          position: relative;
          height: 2vh;
          //border: 1px solid yellow;
          .div1{
            position: absolute;
            top: 15%;
            left: 25%;
            height: 70%;
            border: 1px solid #229B86;
            width: 50%;
            border-radius: 50%;
          }
          .div2{
            position: absolute;
            top: 7.5%;
            left: 17.5%;
            height: 85%;
            border: 1px solid #229B86;
            width: 65%;
            border-radius: 50%;
          }
          .div3{
            position: absolute;
            left: 12.5%;
            height: 100%;
            border: 1px solid #229B86;
            width: 75%;
            border-radius: 50%;
          }
        }
      }
      .img-slide{
        height: 140px;
        border-radius: 10px;
        background-image: url('../../assets/img/example.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        filter: opacity(.8);
      }
      .act-first{
        font-family: 'Custom';
        font-weight: 600!important;
        font-size: 80%;
        color: white;
        //border: 1px solid red;
        text-align: left;
        padding-left: 2%;
        margin-top: 3%;
        text-transform: uppercase;
        color: #55D1AC;
        opacity: .8;
      }
      .act-title{
        font-family: 'Custom';
        font-weight: 700!important;
        font-size: 80%;
        color: white;
        //border: 1px solid red;
        text-align: left;
        padding-left: 2%;
        margin-top: -7%;
      }
      .act-creator{
        font-family: 'Custom';
        font-weight: 700!important;
        font-size: 70%;
        color: white;
        //border: 1px solid red;
        text-align: left;
        padding-left: 2%;
        margin-top: -8%;
        opacity: .8;
      }
      .act-distance{
        font-family: 'Custom';
        font-weight: 600!important;
        font-size: 80%;
        color: white;
        //border: 1px solid red;
        text-align: left;
        padding-left: 2%;
        margin-top: -6%;
        text-transform: uppercase;
        color: #A8A8A8;
        opacity: 1;
      }
      .act-rating{
        font-family: 'Custom';
        font-weight: 600!important;
        font-size: 60%;
        color: white;
        //border: 1px solid red;
        text-align: left;
        padding-left: 2%;
        margin-top: -6%;
        text-transform: uppercase;
        color: #A8A8A8;
        opacity: .7;
      }
    }
  }
 }

}
