<ion-header>
  <ion-navbar color="black1">
    <ion-buttons (click)="testWallet()" start style="margin-left: 3%!important;">
     <!-- <div class="circles-noms">
       <div class="div1"></div>
       <div class="div2"></div>
       <div class="div3"></div></div> -->
     <p class="noms-hint">Noms</p>
     <p class="noms-qty">{{this.noms_balance}}</p>
    </ion-buttons>
    <ion-buttons (click)="openFilters()" end>
      <button ion-button icon-only>
        <ion-icon name="ios-options" color="white"></ion-icon>
      </button>
     <!-- <div class="filters-noms">
       <div class="div1"></div>
       <div class="div2"></div>
       <div class="div3"></div>
     </div> -->
    </ion-buttons>
    <p class="title">Home</p>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="search-container">
    <div (click)="openBrowse('events')" class="option-container">
        <div class="activities-circle events">
          <div class="filters-noms">
            <div class="div1"></div>
            <div class="div2"></div>
            <div class="div3"></div>
            <div class="div4"></div>
          </div>
        </div>
        <h5 class="option-hint">Events</h5>
    </div>
    <div (click)="openBrowse('activities')" class="option-container">
        <div class="activities-circle">
          <div class="filters-noms">
            <div class="div1"></div>
            <div class="div2"></div>
            <div class="div3"></div>
            <div class="div4"></div>
          </div>
        </div>
        <h5 class="option-hint">Activities</h5>
    </div>
    <div (click)="openBrowse('events')" class="option-container">
        <div class="activities-circle experiences">
          <div class="filters-noms">
            <div class="div1"></div>
            <div class="div2"></div>
            <div class="div3"></div>
            <div class="div4"></div>
          </div>
        </div>
        <h5 class="option-hint">Experiences</h5>
    </div>
   <!-- <input type="text" placeholder="Search in all activities" class="input-search">
   <button (click)="openBrowse()" type="button" name="button" class="green-btn">Browse all</button> -->
  </div>

  <div class="category-container">
   <div (click)="openFiltered('All Activities')" class="category-title blue">Your upcoming activities</div>
   <p class="category-suggestions">Next ones for you</p>
   <ion-slides slidesPerView="2.2">
    <ion-slide (click)="openActivity(a)" *ngFor="let a of this.activities">
      <div class="img-slide" [style.background-image]="sanitizeThis(a.img)"></div>
      <p class="act-first">{{a.categories.activity_type}}</p>
      <p class="act-title">{{a.title}}</p>
      <p class="act-distance">{{a.class_price}} noms</p>
    </ion-slide>
  </ion-slides>
  </div>

  <div class="category-container">
   <div (click)="openFiltered('All Activities')" class="category-title green">Suggestions for you</div>
   <p class="category-suggestions">We have this suggestions for you</p>
   <ion-slides slidesPerView="2.2">
    <ion-slide (click)="openActivity(a)" *ngFor="let a of this.activities">
      <div class="img-slide" [style.background-image]="sanitizeThis(a.img)"></div>
      <p class="act-first">{{a.categories.activity_type}}</p>
      <p class="act-title">{{a.title}}</p>
      <p class="act-distance">{{a.class_price}} noms</p>
    </ion-slide>
  </ion-slides>
  </div>

  <div class="category-container">
   <div (click)="openFiltered('All Events')" class="category-title cool">Experiences</div>
   <p class="category-suggestions">We have this experiences for you</p>
   <ion-slides slidesPerView="2.2">
    <ion-slide (click)="openActivity(a)" *ngFor="let a of this.activities">
      <div class="img-slide" [style.background-image]="sanitizeThis(a.img)"></div>
      <p class="act-first">{{a.categories.activity_type}}</p>
      <p class="act-title">{{a.title}}</p>
      <p class="act-distance">{{a.class_price}} noms</p>
    </ion-slide>
  </ion-slides>
  </div>

  <div class="category-container">
   <div (click)="openFiltered('All Activities')" class="category-title rose">Your Favorites</div>
   <p *ngIf="this.getFavorites.length > 0" class="category-suggestions">These are your favorite activities</p>
   <p *ngIf="this.getFavorites.length == 0" class="category-suggestions">You don't have favorites yet!</p>
   <ion-slides slidesPerView="2.2">
    <ion-slide (click)="openActivity(f)"  *ngFor="let f of this.getFavorites()">
      <div class="img-slide" [style.background-image]="sanitizeThis(f.img)"></div>
      <p class="act-first">{{f.categories.activity_type}}</p>
      <p class="act-title">{{f.title}}</p>
      <p class="act-distance">{{f.class_price}} noms</p>
    </ion-slide>
  </ion-slides>
  </div>

  <!-- <div class="category-container">
   <div class="category-title green">Nearby and Upcoming</div>
   <p class="category-suggestions">We have this suggestions for you</p>
   <ion-slides slidesPerView="2.2">
     <ion-slide (click)="openActivity(a)"  *ngFor="let a of this.activities">
       <div class="img-slide" [style.background-image]="sanitizeThis(a.img)"></div>
       <p class="act-first">{{a.categories.activity_type}}</p>
       <p class="act-title">{{a.title}}</p>
       <p class="act-distance">{{a.class_price}} noms</p>
     </ion-slide>
  </ion-slides>
  </div> -->

  <div class="category-container">
   <div (click)="openFiltered('All Events')" class="category-title purple">Events <small (click)="openNew()">Create one</small></div>
   <p *ngIf="this.events.length > 0" class="category-suggestions">We have this suggestions for you</p>
   <p *ngIf="this.events.length == 0" class="category-suggestions">There are not any events available now!</p>
   <ion-slides slidesPerView="2.2">
     <ion-slide (click)="openEvent(e)" *ngFor="let e of this.events">
       <div class="img-slide" [style.background-image]="sanitizeThis(e.img)"></div>
       <p class="act-first">{{e.type}}</p>
       <p class="act-title">{{e.title}}</p>
       <p class="act-distance">{{e.cost}} noms</p>
     </ion-slide>
  </ion-slides>
  </div>

</ion-content>
