// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

input{
 border-radius: 0!important;
}

ion-grid {
      min-height: 100%!important;
     }

.modal-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

ion-header{
    border: none!important;
  ion-navbar{
    border: none!important;
  }
}


ion-navbar{
  border: none!important;
  .title{
    color: white;
    text-align: center;
    //font-family: 'Montserrat', sans-serif;
    font-family: 'Custom';
    //font-weight: 600!important;
    font-size: 130%;
    font-weight: 700!important;
    //border: 1px solid red;
    margin-left: -5vw;
    width: 100%;
    //text-transform: uppercase;
  }
  ion-buttons{
    //border: 1px solid red;
    position: relative;
    // width: 30px;
    // height: 20px;
    ion-icon{
      border-radius: 50%;
      // width: 25px;
      padding: 5px;
      background-color: #007C6E;
      box-shadow: 0px 0px 5px #007C6E;
    }
    .cancel-hint{
      font-family: 'Montserrat', sans-serif;
      font-weight: 700!important;
      color: #FF6B84;
      margin-left: 0%;
    }
    .noms-ctr{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .noms-hint{
      // position: absolute;
      // top: 0%;
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300!important;
      font-size: 60%;
    }
    .noms-qty{
      // position: absolute;
      // top: 20%;
      margin-top: -15%;
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700!important;
      font-size: 100%;
    }
    .filters-noms{
      width: 8vw;
      position: relative;
      height: 20px;
      .div1{
        position: absolute;
        top: 0%;
        left: 10%;
        height: 7%;
        border: 1px solid #FFCC9A;
        width: 80%;
        border-radius: 5px;
      }
      .div2{
        position: absolute;
        top: 30%;
        left: 20%;
        height: 7%;
        border: 1px solid #FFCC9A;
        width: 60%;
        border-radius: 5px;
      }
      .div3{
        position: absolute;
        top: 60%;
        left: 30%;
        height: 7%;
        border: 1px solid #FFCC9A;
        width: 40%;
        border-radius: 5px;
      }
    }
    .circles-noms{
      width: 30px;
      position: relative;
      height: 20px;
      .div1{
        position: absolute;
        top: 15%;
        left: 25%;
        height: 70%;
        border: 1px solid #229B86;
        width: 50%;
        border-radius: 50%;
      }
      .div2{
        position: absolute;
        top: 7.5%;
        left: 17.5%;
        height: 85%;
        border: 1px solid #229B86;
        width: 65%;
        border-radius: 50%;
      }
      .div3{
        position: absolute;
        left: 12.5%;
        height: 100%;
        border: 1px solid #229B86;
        width: 75%;
        border-radius: 50%;
      }
    }
  }
}

ion-list{
  background-color: #0C0C0C!important;
  ion-item{
    background-color: #0C0C0C!important;
    h2{
      font-family: 'Montserrat', sans-serif;
      color: white;
    }
  }
}

.col {
position : initial !important;
}

ion-content{
  background-color: #0C0C0C!important;
    min-height: 100%!important;
    position: initial;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@font-face{
  font-family: 'Custom';
  font-style: bold;
  font-weight: 500;
  src: url('../assets/fonts/MADE-Evolve-Sans-PERSONAL-USE/MADE Evolve Sans Medium (PERSONAL USE).otf');
}

@font-face{
  font-family: 'Custom';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/MADE-Evolve-Sans-PERSONAL-USE/MADE Evolve Sans Regular (PERSONAL USE).otf');
}

@font-face{
  font-family: 'Custom';
  font-style: bolder;
  font-weight: 700;
  src: url('../assets/fonts/MADE-Evolve-Sans-PERSONAL-USE/MADE Evolve Sans Bold (PERSONAL USE).otf');
}

.tabbar {
  background-color: #0C0C0C!important;
  border-top: none!important;
  padding: 2.5%!important;
	a.tab-button[aria-selected=true]:nth-of-type(1) {
		color: rgba(255, 255, 255, 1);
		font-family: 'Montserrat', sans-serif;
		font-weight: normal;
		.tab-button-icon {
			color: #55D1AC;
		}
	}
	a.tab-button[aria-selected=true]:nth-of-type(2) {
		color: rgba(255, 255, 255, 1);
		font-family: 'Montserrat', sans-serif;
		font-weight: normal;
		.tab-button-icon {
			color: #55D1AC;
		}
	}
	a.tab-button[aria-selected=true]:nth-of-type(3) {
		color: rgba(255, 255, 255, 1);
		font-family: 'Montserrat', sans-serif;
		font-weight: normal;
		.tab-button-icon {
			color: #55D1AC;
		}
	}
  a.tab-button[aria-selected=true]:nth-of-type(4) {
		color: rgba(255, 255, 255, 1);
		font-family: 'Montserrat', sans-serif;
		font-weight: normal;
		.tab-button-icon {
		  color: #55D1AC;
		}
	}
	a.tab-button[aria-selected=true]:nth-of-type(5) {
		color: rgba(255, 255, 255, 1);
		font-family: 'Montserrat', sans-serif;
		font-weight: normal;
		.tab-button-icon {
			color: #55D1AC;
		}
	}
  a.tab-button[aria-selected=false]:nth-of-type(1) {
		color: rgba(74, 74, 74, 1);
		font-family: 'Montserrat', sans-serif;
		font-weight: normal;
		.tab-button-icon {
			color: rgba(255, 255, 255, 1);
		}
	}
	a.tab-button[aria-selected=false]:nth-of-type(2) {
		color: rgba(74, 74, 74, 1);
		font-family: 'Montserrat', sans-serif;
		font-weight: normal;
		.tab-button-icon {
			color: rgba(255, 255, 255, 1);
		}
	}
	a.tab-button[aria-selected=false]:nth-of-type(3) {
		color: rgba(74, 74, 74, 1);
		font-family: 'Montserrat', sans-serif;
		font-weight: normal;
		.tab-button-icon {
			color: rgba(255, 255, 255, 1);
		}
	}
  a.tab-button[aria-selected=false]:nth-of-type(4) {
		color: rgba(74, 74, 74, 1);
		font-family: 'Montserrat', sans-serif;
		font-weight: normal;
		.tab-button-icon {
			color: rgba(255, 255, 255, 1);
		}
	}
	a.tab-button[aria-selected=false]:nth-of-type(5) {
		color: rgba(74, 74, 74, 1);
		font-family: 'Montserrat', sans-serif;
		font-weight: normal;
		.tab-button-icon {
			color: rgba(255, 255, 255, 1);
		}
	}
}
