page-calendar {
  .scroll-content{
    overflow: hidden;
  }
  .page-hint{
    font-family: 'Custom';
    font-size: 90%;
    font-weight: 400!important;
    color: rgba(255, 255, 255, .7);
    text-align: center;
    margin-bottom: 3%;
  }

  span{
    font-family: 'Custom';
    font-size: 90%;
    opacity: .6;
    padding: 5%;
  }

  ion-label{
    font-family: 'Custom';
    color: white;
  }

  table{
    overflow: scroll!important;
    font-family: 'Custom';
    color: white;

    border: 1px solid transparent!important;
    thead{
      border: 1px solid transparent!important;
    }
    tbody{
      border: 1px solid transparent!important;
    }
  }

  .monthview-current{
    width: 30px!important;
    height: 30px!important;
    background-color: rgba(255, 255, 255, .3)!important;
    border-radius: 70%;
  }

  .list-ios > .item-block:last-child{
    border: none!important;
  }

  .list-ios > .item-block:first-child{
    border: none!important;
  }

  .no-events-label{
    font-family: 'Custom';
    color: white;
    font-size: 80%;
    content: 'Select a highlighted day to see the schedule'!important;
  }

  .monthview-selected{
    width: 30px!important;
    height: 30px!important;
    background-color: #8141CB!important;
    box-shadow: 0px 0px 20px #0C0C0C;
    border-radius: 70%;
  }

  .monthview-primary-with-event{
    width: 20px!important;
    height: 20px!important;
    background-color: #2edbac!important;
    box-shadow: 0px 0px 20px #0C0C0C;
    border-radius: 70%!important;
    //padding: 2%!important;
  }

  .text-muted{
    border: none!important;
  }

  th{
    border: none!important;
  }

  td{
    border: none!important;
  }

  .swiper-container{
    //border: 1px solid red;
  }
  .calendar-nomads{
    background-color: white!important;
  }
}
