page-welcome {

 .welcome-page{
   background-color: #0C0C0C;
   background-image: url('../../assets/img/bg_1.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   // width: 100vw;
   // height: 100vh;
   .logo-welcome{
     display: block;
     margin: 0 auto;
     width: 55vw;
     margin-top: 15vh;
   }

   ion-slides{
     //border: 1px solid white;
     height: 20vh;
     margin-top: 10vh;
     ion-slide{
       h3{
         font-family: 'Raleway', sans-serif;
         font-weight: 700;
         color: white;
       }
     }
   }

   .login-btn{
     width: 90vw;
     height: 8vh;
     border-radius: 12px;
     background-color: #229B86;

     font-family: 'Raleway', sans-serif;
     font-size: 100%;
     color: white;

     position: absolute;
     bottom: 24vh;
     left: 5vw;
   }

   .register-btn{
     width: 90vw;
     height: 8vh;
     border-radius: 12px;
     background-color: #DFDFDF;

     font-family: 'Raleway', sans-serif;
     font-size: 100%;
     color: black;

     position: absolute;
     bottom: 13vh;
     left: 5vw;
   }


   .allies-btn{
     font-family: 'Raleway', sans-serif;
     color: white;
     position: absolute;
     bottom: 3vh;
     right: 10vw;
   }
 }

}
