page-profally {
  .bg-img{
    width: 100%;
    height: 12vh;
    //border: 1px solid red;
    //background-image: url('../../assets/img/mountains.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 5%;
    background-color: #0C0C0C;
  }
  .profile-img{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    background-color: #D12CA5;
  //  background-image: url('../../assets/img/imanol.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 5%;
    margin-top: -7%;
    //border: 1px solid rgba(255, 255, 255, .3);
  }
  .user-name{
    font-family: 'Custom';
    font-weight: 700!important;
    font-size: 100%;
    color: white;
    margin-left: 8%;
    display: inline!important;
    margin-top: 10%!important;
  }
  .user-info{
    font-family: 'Custom';
    font-weight: 400!important;
    font-size: 70%;
    color: rgba(255, 255, 255, .6);
    margin-left: 8%;
  }

  .things-container{
    display: flex;
    justify-content: space-between;
    margin-top: 0%!important;
    margin-bottom: 3%;
    //border:1px solid red;
    .info-container{
     padding-left: 6%;
     display: inline!important;
     //border: 1px solid red;
    }
    .container-noms{
      display: flex;
      flex-direction: column;
      //border: 1px solid red;
      margin-top: -6%!important;
      padding-right: 5%;
      .noms-qty2{
        font-family: 'Custom';
        font-weight: 700!important;
        font-size: 220%;
        color: white;
        text-align: right;
        //border: 1px solid red;
        padding-top: 0!important;
      }
      .container-down{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -5%!important;
        //border: 1px solid red;
        .noms-hint{
          font-family: 'Custom';
          font-weight: 300!important;
          font-size: 80%;
          color: white;
        }
      }
    }
  }

  .circles-noms{
    width: 8vw;
    position: relative;
    height: 3vh;
    .div1{
      position: absolute;
      top: 15%;
      left: 25%;
      height: 70%;
      border: 1px solid #229B86;
      width: 50%;
      border-radius: 50%;
    }
    .div2{
      position: absolute;
      top: 7.5%;
      left: 17.5%;
      height: 85%;
      border: 1px solid #229B86;
      width: 65%;
      border-radius: 50%;
    }
    .div3{
      position: absolute;
      left: 12.5%;
      height: 100%;
      border: 1px solid #229B86;
      width: 75%;
      border-radius: 50%;
    }
  }

  .card-container{
    width: 90%;
    margin-left: 5%;
    background-color: rgba(36, 40, 49, .8);
    border-radius: 10px;
    padding: 2.5%;
    .row-container{
     display: flex;
     justify-content: space-around;
     align-items: center;
     height: 40%;
     .element-container{
      display: flex;
      flex-direction: column;
      padding: 5%;
       //border: 1px solid red;
      img{
        display: block;
        margin: 0 auto;
        padding-bottom: 20%;
      }
      ion-icon{
        display: block;
        margin: 0 auto;
        padding-bottom: 20%;
        font-size: 2em;
      }
      .element-title{
        font-family: 'Custom';
        font-weight: 300!important;
        font-size: 80%;
        color: white;
        display: inline;
      }
     }
     //border: 1px solid red;
    }
    hr{
      background-color: white;
      width: 90%;
      margin-left: 5%;
      //border: 1px solid rbga(255, 255, 255, .5);
      color: rgba(255, 255, 255, .3);
      height: 1px;
    }
  }

  .container-btns{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .history-btn{
    width: 40vw;
    height: 7vh;
    border-radius: 12px;
    background-color: #7D29FB;


    font-family: 'Custom';
    font-size: 100%;
    color: white;
  }

  .scan-btn{
    width: 40vw;
    height: 7vh;
    border-radius: 12px;
    background-color: transparent;
    border: 1px solid white;

    font-family: 'Custom';
    font-size: 100%;
    color: white;
  }
}
