<!--
  Generated template for the MyeventsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="black1">
    <ion-buttons *ngIf="type == 'nomads'" start style="margin-left: 3%!important;">
     <div class="circles-noms">
       <div class="div1"></div>
       <div class="div2"></div>
       <div class="div3"></div></div>
     <p class="noms-hint">Noms</p>
     <p class="noms-qty">{{this.noms_balance}}</p>
    </ion-buttons>
    <ion-buttons *ngIf="type == 'nomads'" (click)="openFilters()" end>
     <div class="filters-noms">
       <div class="div1"></div>
       <div class="div2"></div>
       <div class="div3"></div>
     </div>
    </ion-buttons>
    <p class="title">My Events</p>
  </ion-navbar>
</ion-header>


<ion-content padding>
 <button (click)="openNew()" type="button" class="new-event" padding>New Event</button>

 <div (click)="confirmEdit(e)" class="event-element" *ngFor="let e of this.events">
     <div class="user-img" [style.background-image]="sanitizeThis(e.img)"></div>
     <div class="event-texts">
      <div class="event-sender">{{e.title}}</div>
      <div class="event-hint">{{e.nomads.length}}/{{e.spaces_available}}</div>
     </div>

   <div class="stats-hint">Stats</div>
 </div>


</ion-content>
