page-editact {
  .walk-page{
    background-color: #0C0C0C;
    //border: 2px solid white;
    .walk-title{
      font-family: 'Custom';
      color: white;
      font-weight: 700!important;
      padding-left: 9%;
    }
   .status-container{
     display: flex;
     justify-content: space-around;
     width: 84vw;
     margin-left: 8vw;
     //border: 1px solid red;
    .status-element{
      width: 23%;
      height: 1vh;
      background-color: #DFDFDF;
      border-radius: 5px;
    }
    .selected{
      background-color: #229B86;
    }
    .selectedrose{
      background-color: #7D29FB;
    }
   }
   .walk-message{
     font-family: 'Custom';
     color: white;
     font-weight: 300!important;
     padding-left: 9%;
     font-size: 90%;
   }

   .container-datos{
     font-family: 'Custom';
     display: block;
     margin: 0 auto;
     //border: 1px solid white;
     //height: 45vh;
     margin-top: 3vh;
     width: 90vw;

     .white-container{
       width: 100%;
       background-color: white;
       border-radius: 10px;
       margin-bottom: 10%;
       .option-container{
         display: flex;
         justify-content: space-between;
         .title-option{

         }
         ion-item{
           width: auto;
           border: none!important;
           border-bottom: 1px solid transparent;
         }
         .item-inner{
           border: none!important;
         }
         .button-inner{
           justify-content: flex-end!important;
         }
         ion-datetime{
           border: 1px solid #7D29FB;
           border-radius: 20px;
           padding: 2% 10% 2% 10%;
         }
         .option-selector{
           border: 1px solid #7D29FB;
           border-radius: 20px;
           padding: 2% 10% 2% 10%;
           ion-datetime{
             //padding: 0!important;

             //border: 1px solid red;
           }
         }
       }
     }

     .activities-container{
       display: flex;
       justify-content: space-around;
       margin-bottom: 3%;
       .a-title{
          font-family: 'Custom';
          font-size: 80%;
          color: rgba(255, 255, 255, .5);
       }
     }

     .activity-container{
       background-color: rgba(255, 255, 255, .11);
       border-radius: 8px;
       display: flex;
       justify-content: space-around;
       align-items: center;
       padding-left: 0!important;
       padding-right: 0!important;
       margin-bottom: 3%;
       .left-cont{
         display: flex;
         flex-direction: column;
       }
       .main-text{
         font-family: 'Custom';
         font-size: 80%;
         font-weight: 700!important;
         color: rgba(255, 255, 255, .8);
       }
       .comp-text{
         font-family: 'Custom';
         font-size: 70%;
         font-weight: 700!important;
         color: rgba(255, 255, 255, .6);
       }
       .edit-btn{

       }
     }

     .add-btn{
       display: block;
       margin: 0 auto;
       font-size: 200%;
       width: 20%;
       border-radius: 50%;
       background-color: #7D29FB;
       color: white;
       margin-top: 5%;
       margin-bottom: 5%;
     }

     .container-cool{
       display: flex;
       justify-content: space-between;
     }

     .title-container{
       font-weight: 400;
       font-size: 100%;
       color: white;
       padding-left: 5%;
     }
     .media-img{
       width: 100%;
       height: 17vh;
       background-image: url('../../assets/img/mountains.png');
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
       border-radius: 8px;
       margin-bottom: 3%;
     }
     .distance{
       font-family: 'Custom';
       font-weight: 400;
       font-size: 100%;
       color: white;
       opacity: .6;
       padding-right: 5%;
     }
     ion-range{
       width: 90%;
       margin-left: 5%;
       margin-top: -3vh!important;
     }
     .likes-container{
       //border: 1px solid white;
       width: 90%;
       margin-left: 5%;
       display: flex;
       justify-content: space-around;
       flex-wrap: wrap;
       .likes-element{
         font-family: 'Custom';
         font-size: 90%;
         color: white;
         border-radius: 20px;
         border: 1px solid white;
         padding-left: 5%;
         padding-right: 5%;
         padding-top: 1%;
         padding-bottom: 1%;
         text-align: center;
         margin: 2%;
       }
       .purple{
         color: black;
         border: 1px solid #7D29FB;
       }
       .selected{
         border: 1px solid #7D29FB;
         background-color: #229B86;
       }
       .selectedrose{
         border: 1px solid #7D29FB;
         background-color: #7D29FB;
       }
     }
     .purple{
       border: 1px solid #7D29FB;
     }
     .card-container{
       margin-left: 5%;
       height: auto;
       border-radius: 10px;
       position: relative;
       padding-bottom: 5vh;
       .input-group{
         padding-top: 1%;
         .input-title{
           font-size: 90%;
           color: rgba(255, 255, 255, .5);
         }
         .input-field{
           color: white;
           background-color: transparent;
           border: 1px solid rgba(255, 255, 255, .5)!important;
           width: 95%;
           padding: 2%;
           border-radius: 5px!important;
         }
         .input-field:hover{
           border: 1px solid #FFCC9A!important;
         }
       }

       .pw-forgot{
         font-family: 'Custom';
         font-size: 80%;
         color: white;
         width: 60vw;
         margin-left: 30vw;
       }

       .register-btn{
         font-family: 'Custom';
         font-size: 90%;
         color: white;
         margin-left: 5%;
         padding-bottom: 5%;
         margin-top: 5vh;
       }
     }

   }

   .jc-container{
     display: flex;
     justify-content: space-around;
     //border: 1px solid red;
     margin-top: 3vh;
     margin-bottom: 5%;
   }


   .next-btn{
     width: 40vw;
     height: 40px;
     border-radius: 20px;
     background-color: #229B86;

     font-family: 'Custom';
     font-size: 100%;
     color: white;

     // position: absolute;
     // bottom: 3vh;
     // right: 7vw;
   }

   .add{
     display: block;
     margin: 0 auto;
     margin-top: 3%;
   }

   .back-btn{
     width: 40vw;
     height: 40px;
     border-radius: 20px;
     background-color: transparent;
     border: 1px solid white;

     font-family: 'Custom';
     font-size: 100%;
     color: white;

     // position: absolute;
     // bottom: 3vh;
     // left: 7vw;
   }
   .selectedrose{
     border: 1px solid #7D29FB;
     background-color: #7D29FB;
   }
  }
}
