page-ticket {
  .todo{
    background-color: rgba(0, 0, 0, .9);
    width: 100%;
    height: 110%;
    position: absolute;
    top: 0%;
  }

   .modal1{
    background-color: rgba(12, 12, 12, .8);
    width: 80%;
    margin-left: 10%;
    border-radius: 5px;
    padding: 3%;
    //margin-top: 30%;
    position: absolute;
    top: 20%;
    font-family: 'Custom';
    border: 1px solid white;
    .top-part{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 8%;
      .img{
        width: 40%;
        border-radius: 12px;
      }
      .text{
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 100%;
        color: white;
        .top{
          font-weight: 700;
          text-align: center;
          font-size: 170%;
        }
        .hints{
          font-weight: 400;
          text-align: left;
        }
      }
    }
    .btm-part{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      .cost{
        font-size: 120%;
        color: white;
        font-weight: 700;
        text-align: center;
        opacity: .8;
      }
      .go{
        width: 10%;
      }

      .pay-btn{
        display: block;
        margin: 0 auto;
        width: 80%;
        border-radius: 30px;
        padding: 1%;
        background-color: #1BBF80;
        margin-bottom: 3%;
        margin-top: 2%;
        .pay-container{
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          font-weight: 700;
          width: 100%;
          .pay-hint{

          }
          .pay-circles{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 3%;
            width: 25%;
            .noms-qty{
            }
            .circles-noms{
              width: 100%;
              position: relative;
              height: 20px;
              .div1{
                position: absolute;
                top: 15%;
                left: 25%;
                height: 70%;
                border: 1px solid white;
                width: 50%;
                border-radius: 50%;
              }
              .div2{
                position: absolute;
                top: 7.5%;
                left: 17.5%;
                height: 85%;
                border: 1px solid white;
                width: 65%;
                border-radius: 50%;
              }
              .div3{
                position: absolute;
                left: 12.5%;
                height: 100%;
                border: 1px solid white;
                width: 75%;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }
   }
}
