page-wallet {
  .circles-noms{
    width: 8vw;
    position: relative;
    height: 3vh;
    .div1{
      position: absolute;
      top: 38%;
      left: 42%;
      height: 15%;
      //background-color: linear-gradient(#4400C4, #1AA3AF)!important;
      border: 2px solid #1AA3AF;
      width: 15%;
      border-radius: 50%;
    }
    .div2{
      position: absolute;
      top: 7.5%;
      left: 17.5%;
      height: 85%;
      //background-color: linear-gradient(#4400C4, #1AA3AF)!important;
      //border: 3px solid #4400C4;
      border: 2px solid #4400C4;
      width: 65%;
      border-radius: 50%;
    }
    .div2:after{
      background: linear-gradient(#4400C4, #1AA3AF)!important;
      position: absolute;
      content: '';
      height: 25%;
      width: 25%;
      right: 0;
      left: 40%;
      top: 40%;
      border-radius: 50%;
    }
    .div3{
      // position: absolute;
      // left: 12.5%;
      // height: 100%;
      position: absolute;
      top: 8%;
      left: 17.5%;
      height: 85%;
      border-bottom: 3px solid rgba(26, 163, 175, .4);
      //width: 75%;
      width: 65%;
      border-radius: 50%;
    }
  }

  .card-container{
    background-color: white;
    border-radius: 8px;
    //border: 1px solid red;
    .card-top-container{
      display: flex;
      justify-content: center;
      align-items: center;
      //border: 1px solid red;
      .items-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        //border: 1px solid red;
        .balance-hint{
          font-family: 'Custom';
          font-size: 100%;
          font-weight: 400!important;
        }
        .balance-container{
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: -5%!important;
          .number{
            font-family: 'Custom';
            font-size: 300%;
            font-weight: 700!important;
          }
          .currency{
            font-family: 'Custom';
            font-size: 80%;
            font-weight: 500!important;
          }
        }
      }
    }
    .card-btm-container{
      background-color: #D8D8D8;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0 0 8px 8px;
      .hint-avg{
        font-family: 'Custom';
        font-size: 110%;
        font-weight: 400!important;
      }
    }
  }

  .buy-hint{
    font-family: 'Custom';
    font-size: 110%;
    font-weight: 400!important;
    color: white;
    margin-top: 5%;
  }

  .gold{
    font-weight: 700!important;
    color: #FFCC9A;
    margin-bottom: 5%;
  }

  .activities-container{
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, .8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 3%;
    .texts-container{
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      font-family: 'Custom';
      color: white;
      font-weight: 700;
      .btm-text{
        opacity: .5;
      }
    }
  }

  .amounts-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3%;
    padding-left: 0%!important;
    //border: 1px solid red;
    .amount-container{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      height: 100%;
      padding-right: 2%;
      .input-group{
        padding-top: 1%;
        .input-title{
          font-size: 90%;
          color: rgba(255, 255, 255, .5);
        }
        .input-field{
          color: white;
          background-color: transparent;
          border: 1px solid rgba(255, 255, 255, .5)!important;
          width: 95%;
          padding: 2%;
          border-radius: 5px!important;
          text-align: center;
          color: #229B86;
          font-weight: 700;
        }
        .input-field:hover{
          border: 1px solid #FFCC9A!important;
        }
      }
      .amount-hint{
        font-family: 'Custom';
        font-size: 100%;
        font-weight: 300!important;
        color: rgba(255, 255, 255, .6);
      }
      .amount-text{
        margin-top: 5%;
        font-family: 'Custom';
        font-size: 120%;
        font-weight: 700!important;
        color: #50E3C2;
        border: 1px solid rgba(255, 255, 255, .4);
        border-radius: 8px;
        padding: 5%;
        text-align: center;
      }
    }
  }

  .booking-avg{
    font-family: 'Custom';
    font-size: 120%;
    font-weight: 700!important;
    color: white;
    text-align: center;
    b{
      color: #FF6B84;
    }
  }

  .pay-btn{
    width: 100%;
    background-color: #229B86;
    font-family: 'Custom';
    font-size: 120%;
    font-weight: 700!important;
    color: white;
    border-radius: 12px;
    margin-top: 5%;
  }


  ion-slides{
    margin-top: 2%;
    height: 22.5vh;
    //border: 1px solid red;
    ion-slide{
      height: 22.5vh;
      //border: 1px solid red;
      padding-left: 2%;
      padding-right: 2%;
     .slide-card{
       height: 22.5vh!important;
       background-color: rgba(255, 255, 255, .39);
       border-radius: 8px;
       opacity: .3;
       .top-slide{
         height: 60%;
         display: flex;
         justify-content: center;
         align-items: center;
         border-bottom: 1px solid rgba(255, 255, 255, .1);
         .qty-slide{
           font-family: 'Custom';
           font-size: 150%;
           font-weight: 700!important;
           color: white;
         }
       }
       .btm-slide{
         height: 40%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         .bookings-avg{
           font-family: 'Custom';
           font-size: 60%;
           font-weight: 300!important;
           color: rgba(255, 255, 255, .5);
         }
         .slide-price{
           font-family: 'Custom';
           font-size: 70%;
           font-weight: 700!important;
           color: rgba(255, 255, 255, 1);
         }
       }
     }
     .selected{
      opacity: 1;
     }
    }
  }
}
