page-clansh {

  ion-slides{
    overflow-y:scroll;
    ion-slide{
      overflow-y:scroll;
       padding: 3%;
      .clan-container{
        background-color: rgba(216, 216, 216, .08);
        border-radius: 15px;
        overflow: scroll;
        //box-shadow: 0px 0px 5px white;
        .clan-img{
          background-image: url('../../assets/img/clans_example.png');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          height: 29vh;
          border-radius: 15px 15px 0 0;
        }
        .clan-title{
          font-family: 'Custom';
          font-weight: 700!important;
          font-size: 100%;
          color: white;
          //border: 1px solid red;
          text-align: left;
          padding-left: 5%;
        }
        .clan-cat{
          font-family: 'Custom';
          font-weight: 400!important;
          font-size: 80%;
          color: #FF6B84;
          //border: 1px solid red;
          text-align: left;
          padding-left: 5%;
          margin-top: -6%;
          width: 30%;
        }
        .clan-members{
          font-family: 'Custom';
          font-weight: 400!important;
          font-size: 70%;
          color: white;
          //border: 1px solid red;
          text-align: left;
          padding-left: 5%;
          margin-top: -4%;
        }
        .share-icon{
          width: 5%;
          margin-right: 5%;
        }
        .flex-containerc{
          display: flex;
          justify-content: space-between;
        }
        .element-title{
          font-family: 'Custom';
          font-weight: 700!important;
          font-size: 70%;
          color: rgba(255, 255, 255, .5);
          text-align: left;
          padding-left: 5%;
        }
        .element-desc{
          font-family: 'Custom';
          font-weight: 400!important;
          font-size: 70%;
          color: rgba(255, 255, 255, 1);
          text-align: left;
          padding-left: 5%;
          margin-top: -2%!important;
          max-height: 15%;
          overflow: scroll;
        }
        .join-btn{
          width: 40vw;
          height: 6vh;
          border-radius: 12px;
          //background-color: #FF6B84;
          //background-color: #9073CB;
          background-color: #8141CB;
          box-shadow: 0px 0px 10px #0C0C0C;

          font-family: 'Custom';
          font-size: 90%;
          font-weight: 700!important;
          color: white;
          margin-bottom: 5%;
        }
      }
    }
  }
}
